body {
  background-color: white;
}

ul {
  list-style-type: none;
}

.hyperlinks {
  float: right;
}

.contact {
  float: right;
  border: 1 px solid black;
  border-radius: 25px;
}

.aboutBackground {
  float: bottom;
  background-color: grey; /* replace with image */
}

.aboutLeft {
  display: inline-block;
}

.aboutRight {
  display: inline-block;
}

#contact {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
  float: right;
}
